@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/alat-teknik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 85%;
    margin: auto;
}

nav {
    height: 80px;
}

nav h1 {
    float: left;
    line-height: 80px;
    font-size: 35px;
    color: #eb7620;
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    background-color: #eb7620;
    transition: 0.5s ease;
}

.article {
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}

.article h1 {
    font-size: 36px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}

.article p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.article .btn {
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;
}

.article .btn:hover {
    background-color: #4399fa;
    transition: 0.5s ease;
}

footer {
    background: #343434;
    padding-top: 50px;
}

.footer-content {
    width: 190px;
    margin: auto;
    padding: 7px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content ul {
    text-align: center;
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.bottom-bar {
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

nav {
    position: relative;
}

.hamburger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    float: right;
    line-height: 80px;
}

@media (max-width: 768px) {
    #navbar-list {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 80px; 
        right: 0;
        background-color: #343434;
        width: 100%;
    }

    #navbar-list li {
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block; 
    }
}
